<h2 class="text-2xl font-bold mb-6 text-gray-800">Edit Vehicle Information</h2>

<div
  *ngIf="message()"
  [ngClass]="
    messageType() === 'success' ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700'
  "
  class="p-4 rounded-xl mb-6 text-sm font-medium"
>
  {{ message() }}
</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="space-y-5">
  <div>
    <label class="block text-xs font-bold uppercase text-gray-500 mb-2">Brand & Model</label>
    <input
      type="text"
      formControlName="brandAndModel"
      class="w-full border-2 rounded-xl px-4 py-2.5 focus:border-yellow-500 focus:ring-0 outline-none transition"
    />
    <p *ngFor="let err of fieldErrors()['BrandAndModel']" class="text-red-500 text-xs mt-1">
      {{ err }}
    </p>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <label class="block text-xs font-bold uppercase text-gray-500 mb-2">Year</label>
      <input
        type="number"
        formControlName="year"
        class="w-full border-2 rounded-xl px-4 py-2.5 focus:border-yellow-500 focus:ring-0 outline-none transition"
      />
    </div>
    <div>
      <label class="block text-xs font-bold uppercase text-gray-500 mb-2">Daily Price</label>
      <input
        type="number"
        formControlName="price"
        class="w-full border-2 rounded-xl px-4 py-2.5 focus:border-yellow-500 focus:ring-0 outline-none transition"
      />
    </div>
  </div>

  <div>
    <label class="block text-xs font-bold uppercase text-gray-500 mb-2">Plate Number</label>
    <input
      type="text"
      formControlName="plateNumber"
      class="w-full border-2 rounded-xl px-4 py-2.5 focus:border-yellow-500 focus:ring-0 outline-none transition font-mono tracking-widest text-center"
    />
    <p *ngFor="let err of fieldErrors()['PlateNumber']" class="text-red-500 text-xs mt-1">
      {{ err }}
    </p>
  </div>

  <button
    type="submit"
    [disabled]="loading()"
    class="w-full bg-yellow-500 text-white py-4 rounded-xl font-bold hover:bg-yellow-600 disabled:opacity-50 transition shadow-xl shadow-yellow-100 mt-4"
  >
    {{ loading() ? 'Saving changes...' : 'Save Changes' }}
  </button>
</form>
