name: CI/CD Frontend PSP Pipeline

on:
  workflow_dispatch:

jobs:
  frontend-CI-CD:
    runs-on: ubuntu-latest

    env:
      WORKING_DIRECTORY: ./psp-frontend
      AZURE_WEBAPP_NAME: lwa-sepapp-fe-psp-dev-eun-001

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: ${{ env.WORKING_DIRECTORY }}/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Build
        run: npm run build
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Azure CLI login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.WORKING_DIRECTORY }}/dist/sepwebshop-frontend/browser
