name: Ingress Install

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - prod

  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  install-ingress:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure CLI login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get AKS credentials
        uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ vars.AKS_RESOURCE_GROUP }}
          cluster-name: ${{ vars.AKS_CLUSTER_NAME }}

      - name: Ensure NGINX Ingress Controller is installed
        run: |
          kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/cloud/deploy.yaml

      - name: Wait for NGINX Ingress Controller
        run: |
          echo "Waiting for ingress-nginx-controller to be ready..."
          kubectl rollout status deployment ingress-nginx-controller -n ingress-nginx
          kubectl get pods -n ingress-nginx

      - name: Verify ingress and external IP
        run: |
          kubectl get svc -n ingress-nginx
          kubectl get ingress -A

      - name: Install cert-manager
        run: |
          kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.19.2/cert-manager.yaml

      - name: Verify cert-manager installation
        run: |
          kubectl wait --for=condition=ready pod -l app.kubernetes.io/instance=cert-manager -n cert-manager --timeout=120s
          kubectl get pods -n cert-manager

      - name: Apply cert-manager ClusterIssuer
        run: |
          kubectl apply -f ./k8s/clusterissuer-sepapp.yaml

      - name: Verify ClusterIssuer
        run: |
          kubectl wait --for=condition=Ready clusterissuer/letsencrypt-sepapp --timeout=60s
          kubectl get clusterissuers -o wide
